<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Estadísticas</title>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/portada.css') }}">
  </head>
  <body>
    <h1>
      Estadísticas
    </h1>
    <img src="../Grafico1.jpg" class = "Fotos" alt="Foto 5" width="320" height="240"><br>
    <img src="../Grafico2.jpg" class = "Fotos" alt="Foto 5" width="320" height="240"><br>
    <img src="../Grafico3.jpg" class = "Fotos" alt="Foto 5" width="320" height="240"><br>
    <div id= "boton-volver2">
        <button type="button" onclick="window.location.href='{{url_for('index')}}'">Volver a la Portada</button>
    </div>
  </body>
</html>