<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Listado de Avisos</title>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/portada.css') }}">
  </head>
  <body>
    <h1>
      Listado de Avisos de Adopciones
    </h1>
    <table id="tabla-general">
      <tr id="datos">
            <th>Fecha de Publicación</th>
            <th>Fecha entrega</th>
            <th>Comuna</th>
            <th>Sector</th>
            <th>Cantidad</th>
            <th>Tipo</th>
            <th>Edad</th>
            <th>Descripción</th>
            <th>Nombre</th>
            <th>Contacto</th>
            <th>Foto(s)</th>
      </tr>
        {% for aviso in avisos %}
        <tr onclick="window.location.href='{{ url_for('detalle_aviso', aviso_id=aviso.id) }}'">
          <td>{{ aviso.fecha_ingreso.strftime('%d-%m-%Y')}}</td>
          <td>{{ aviso.fecha_entrega.strftime('%d-%m-%Y') }}</td>
          <td>{{ aviso.comuna.nombre }}</td>
          <td>{{ aviso.sector }}</td>
          <td>{{ aviso.cantidad }}</td>
          <td>{{ aviso.tipo }}</td>
          <td>{{ aviso.edad }} {{aviso.unidad_medida}}</td>
          <td>{{ aviso.descripcion}}</td>
          <td>{{ aviso.nombre}}</td>
          <td>{{ aviso.contacto }}</td>
          <td>{% for foto in aviso.fotos %}
            <img src="{{ url_for('static', filename='uploads/' ~ foto.nombre_archivo) }}" alt="{{ foto.nombre_archivo }}" width="100">
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
    </table>
    <div class="paginacion">
        {% if page > 1 %}
            <a href="{{ url_for('listado', page=page-1) }}">← Anterior</a>
        {% endif %}

    <span>Página {{ page }} de {{ total_pages }}</span>

        {% if page < total_pages %}
            <a href="{{ url_for('listado', page=page+1) }}">Siguiente →</a>
        {% endif %}
    </div>
    
    <div id= "boton-volver" style="display:none">
        <button type="button" onclick="window.location.href='{{url_for('listado')}}'">Volver</button>
    </div>
    <div id= "boton-volver2">
        <button type="button" onclick="window.location.href='{{url_for('index')}}'">Volver a la Portada</button>
    </div>

    <!-- Modal para mostrar imagen ampliada (Sacado de internet) -->
    <div id="modal-foto" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.8); justify-content:center; align-items:center; z-index:1000;">
    <div style="position:relative;">
        <img id="imagen-ampliada" src="" alt="Foto ampliada" width="800" height="600">
        <button onclick="cerrarFoto()" style="position:absolute; top:10px; right:10px; padding:10px; background-color:#fff; border:none; cursor:pointer;">Cerrar</button>
    </div>
    </div>

  <script lang="javascript" src="{{ url_for('static', filename='js/listado.js') }}"></script>
  </body>
  
</html>